{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <article class="mb-5" data-aos="fade-up" data-aos-duration="800">
            <time>
                <i class="far fa-calendar-alt icon-wrapper"></i> Published: {{ post.published_date }}
            </time>
            <h2>
                <a href="{% url 'post_detail' pk=post.pk %}" class="text-decoration-none">
                    <i class="fas fa-book-open icon-wrapper"></i>
                    {{ post.title }}
                </a>
            </h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
{% endblock %}